<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyCompanyNuget" value="https://nuget.MYCOMPANY.com/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <MyCompanyNuget>
      <add key="Username" value="EMAIL@MYCOMPANY.COM" />
      <add key="ClearTextPassword" value="PASSWORD"/>
    </MyCompanyNuget>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>
